<nav class="bg-white shadow-md fixed w-full top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex space-x-4 sm:space-x-8">
        <a
          routerLink="/creation"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Creation Operator
        </a>
        <a
          routerLink="/transformation"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Transformation Operator
        </a>
        <a
          routerLink="/filtering"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Filtering Operator
        </a>
        <a
          routerLink="/combination"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Combination Operator
        </a>
        <a
          routerLink="/form"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Form(canDeactivate)
        </a>
        <a
          routerLink="/reactive-form"
          class="text-gray-700 hover:text-indigo-600 font-medium transition duration-300"
        >
          Reactive Form
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
