<div class="p-8 max-w-2xl mx-auto flex flex-col mt-14">
    <h2 class="text-3xl font-bold mb-6 text-center">Contact Form</h2>
    
    <form [formGroup] = "form" class="space-y-4">
      <div>
        <label class="block text-gray-700">Name</label>
        <input formControlName="name" class="w-full px-4 py-2 border rounded-md">
      </div>
      
      <div>
        <label class="block text-gray-700">Email</label>
        <input formControlName="email" class="w-full px-4 py-2 border rounded-md">
      </div>
      
      <div>
        <label class="block text-gray-700">Message</label>
        <textarea formControlName="message" class="w-full px-4 py-2 border rounded-md"></textarea>
      </div>
      
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
    </form>
  </div>
